<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
<!--           <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
          </li> -->
          <li>{{ site.address }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="soc-media-list">
          {% if site.github_username %}
          <li style="list-style-type: none;" >
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <!-- <p>{{ site.description | escape }}</p> -->
        <ul class="soc-media-list">
          {% if site.linkedin %}
          <li style="list-style-type: none;" >
            <a href="{{ site.linkedin }}">LinkedIn</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
